
/* Comment */
#idtest {
  propertyA: valueA;
}

.clstest {
  propertyB: valueB;
}

.othcls {
  propertyX: valueX;
}

typetest {
  propertyC: valueC;
}

dove.fried {
  propertyD: valueD;
}

#fox.fried {
  propertyE: valueE;
}

/*
div .bookmark {
  propertyF: valueF;
}
*/

/*
did > .storage {
  propertyG: valueG;
}
*/
#hen {
  fly: false;
}

/*

#hen:hover {
  fly: true;
}

h1, h2, h3 {
  property: true;
}

A B C D {
  property: true;
}

*/
